html, body {
  min-width: 100vh;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden; 
}

/* //////////////////////////////////////  MAIN  ////////////////////////////////////// */

.Main-Container{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #63a198 0%, #8874c2 100%);
}

/* //////////////////////////////////////  DISPLAY PROJECT ////////////////////////////////////// */

.Project-Container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* //////////////////////////////////////  PROJECT SUMMARY ////////////////////////////////////// */

.Work-Summary-Container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  max-width: 400px;
  cursor: pointer;
  border: 2px solid transparent;
}

.Work-Summary-Box{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top:0;
  left: 0;
  height: 400px;
  width: 400px;
  max-width: 400px;
  cursor: pointer;
}
.Work-Summary-Background {
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: #2e1f46;
  opacity: 0.6;
}

.Work-Summary-Text {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
  z-index: 6;
  margin: 10px 20px;
}

.Work-Gif {
  max-width: 400px;
}

/* //////////////////////////////////////  PROJECT TITLE ////////////////////////////////////// */

.Work-Title-Box {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: 2px solid #fff;
}

.Work-Title {
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* //////////////////////////////////////  PAGE NUMBERS ////////////////////////////////////// */

.Project-Page-Number {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  font-weight: 200;
  color: #fff;
  margin: 20px 0;
  padding: 0;
}

/* //////////////////////////////////////  ICONS ////////////////////////////////////// */

ion-icon {
  font-size: 100px;
  color: #fff;
  cursor: pointer;
}

.Forward-Arrow {
  margin-left: 100px;
}

.Back-Arrow {
  margin-right: 100px;
}

/* //////////////////////////////////////  MISC ////////////////////////////////////// */

.Top-Placeholder {
  height: 43px;
  width: 43px;
}
