html, body {
  min-width: 100vh;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden; 
  overflow-y: hidden; 
  overscroll-behavior: none;
}


/* //////////////////////////////////////  NAVBAR  ////////////////////////////////////// */

.Navbar-Container-Left {
  position: absolute;
  height: 80px;
}

.Navbar-Container-Right {
  position: absolute;
  right: 0;
  height: 80px;
}

.Navbar-Name-Box {
  position: sticky;
  z-index: 4;
  top: 30px;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}

.Navbar-Name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  color: #fff;
  margin: 0;
  padding: 0;
  cursor: default;
  user-select: none;
}

.Navbar-Logo-Box {
  position: sticky;
  z-index: 4;
  top: 31px;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.LinkedIn-Logo {
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: -1px;
  user-select: none;
}

.GitHub-Logo {
  cursor: pointer;
  margin-right: 10px;
  user-select: none;
}

ion-icon {
  cursor: pointer;
  margin-bottom: -1px;
  color: #fff;
  font-size: 25px;
}

/* //////////////////////////////////////  PAGE NUMBERS ////////////////////////////////////// */

.Page-Number-Box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */

}

.Project-Page-Number {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: #fff;
  padding: 0;
  margin: 0;
  cursor: default;
  padding: 0 30px 6px;
  user-select: none;
}

.GitHub-Project-Box {
  display: flex;
  align-items: center;
  /* border: 1px solid green; */
}

.GitHub-Project {
  margin-right: 60px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  user-select: none;
  font-size: 40px;
  /* border: 1px solid rgb(128, 0, 107); */
}

.Website-Project-Box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

.Website-Project {
  margin-left: 60px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  user-select: none;
  /* border: 1px solid rgb(128, 0, 107); */
}

.Project-Info-Footer-Container {
  display: flex;
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100vw;
  justify-content: center;
  /* border: 2px solid green; */
}

.Project-Info-Footer {
  display: flex;
  z-index: 3;
  margin-bottom: 40px;
  text-align: 'center';
  justify-content: 'center';
  align-items: 'center';
  flex-wrap: 'nowrap';
}


/* //////////////////////////////////////  MAIN  ////////////////////////////////////// */

.Main-Container{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
}

/* //////////////////////////////////////  DISPLAY PROJECT ////////////////////////////////////// */

.Project-Container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  height: -webkit-fill-available;
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: hidden;
  overscroll-behavior: none;
}

/* //////////////////////////////////////  PROJECT SUMMARY ////////////////////////////////////// */

.Work-Gif-Box {
  position: absolute;
  background-color: rgb(0, 27, 34);
  opacity: 0.7;
  height: 100vh;
  width: 100vw;
  z-index: -10;
}

.Work-Summary-Box{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  height: 500px;
  width: 500px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.6s ease-out;
}

.Work-Summary-Text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  mix-blend-mode: multiply;
  color: white;
  z-index: 6;
  margin: 10px 25px;
  user-select: none;
}



.Work-Mobile-Container {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.Work-Summary-Box-Mobile {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* position: absolute; */
  height: calc(100% - 350px);
  width: calc(100% - 80px);
  min-height: 150px;
  border: 2px solid #fff;
  cursor: pointer;
  margin-bottom: 60px;
}

.Work-Summary-Text-Mobile {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  z-index: 6;
  margin: 10px 25px;
  user-select: none;

}

.Work-Title-Mobile {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
  z-index: 6;
  margin: 10px 5px;
  user-select: none;
}

.LYRCS-Opacity {
  background-color: #2e1f46;
  opacity: 0.2;
}

.Wine-Not-Opacity {
  background-color: #3a78d5;
  opacity: 0.7;
}

/* //////////////////////////////////////  PROJECT TITLE ////////////////////////////////////// */

.Work-Title-Box {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: 2px solid #fff;
}

.Work-Title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 0;
}


/* //////////////////////////////////////  CAROUSEL ////////////////////////////////////// */

.scrolling-wrapper {
  position: relative;
  flex: 0 0 100vw;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: x mandatory;
  /* border: 2px solid black; */
}

.card {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  margin: 0;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: #fff;
  font-weight: 100;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.089);
  margin: 0;
  user-select: none;
  /* border: 2px solid red; */
}


/* //////////////////////////////////////  ICONS ////////////////////////////////////// */

.logo {
  font-size: 20px;
  color: yellow;
  cursor: pointer;
}

ion-icon {
  font-size: 100px;
}

.Forward-Arrow-Box {
  position: absolute;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-right: 30px;
  /* border: 4px solid yellow; */
}


.Back-Arrow {
  margin-right: 100px;
}

/* //////////////////////////////////////  MEDIA QUERIES - 820PX ////////////////////////////////////// */

@media only screen and (max-width: 820px), screen and (max-height: 520px) {

  .Work-Title {
    font-size: 2rem;
  }

  .Work-Title-Box {
    width: 300px;
    height: 300px;
  }

  .Work-Summary-Container {
    height: 300px;
    width: 300px;
    max-width: 300px;
  }

  .Work-Summary-Box{
    height: 300px;
    width: 300px;
    max-width: 300px;
  }

  .Work-Summary-Background {
    height: 300px;
    width: 300px;
  }

  .Work-Summary-Text {
    font-size: 1.2rem;
  }

}

/* //////////////////////////////////////  MEDIA QUERIES - 580PX ////////////////////////////////////// */

@media only screen and (max-width: 580px), screen and (max-height: 450px) {

  .Work-Title {
    font-size: 1.5rem;
  }

  .Work-Title-Box {
    width: 200px;
    height: 200px;
  }

  .Work-Summary-Container {
    height: 200px;
    width: 200px;
    max-width: 200px;
  }

  .Work-Summary-Box{
    height: 200px;
    width: 200px;
    max-width: 200px;
  }

  .Work-Summary-Background {
    height: 200px;
    width: 200px;
  }

  .Work-Summary-Text {
    font-size: 0.8rem;
  }

}

/* //////////////////////////////////////  MEDIA QUERIES - 400PX ////////////////////////////////////// */

@media only screen and (max-width: 400px), screen and (max-height: 325px) {

  .Navbar-Logo-Box {
    margin-right: 10px;
  }

  .Navbar-Name-Box {
    margin-left: 20px;
  }

}

