html, body {
  min-width: 100vh;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden; 
}

/* .video-background-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.video-background {
  height: 100vh;
  margin: 0;
  padding: 0;
} */


/* //////////////////////////////////////  NAVBAR  ////////////////////////////////////// */

.Navbar-Container-Left {
  position: absolute;
  height: 80px;
}

.Navbar-Container-Right {
  position: absolute;
  right: 0;
  height: 80px;
}

.Navbar-Name-Box {
  position: sticky;
  z-index: 4;
  top: 30px;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}

.Navbar-Name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  color: #fff;
  margin: 0;
  padding: 0;
  cursor: default;
}

.Navbar-Logo-Box {
  position: sticky;
  z-index: 4;
  top: 31px;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.LinkedIn-Logo {
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: -1px;
}

.GitHub-Logo {
  cursor: pointer;
  margin-right: 10px;
}

ion-icon {
  cursor: pointer;
  margin-bottom: -1px;
  color: #fff;
  font-size: 25px;
}

/* //////////////////////////////////////  MAIN  ////////////////////////////////////// */

.Main-Container{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(to right, #63a198 0%, #8874c2 100%); */
}

/* //////////////////////////////////////  DISPLAY PROJECT ////////////////////////////////////// */

.Project-Container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* //////////////////////////////////////  PROJECT SUMMARY ////////////////////////////////////// */

/* .video-background-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.video-background {
  height: 100vh;
  margin: 0;
  padding: 0;
} */

/* .Work-Gif-Container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -10;
} */

.Work-Gif-Box {
  position: absolute;
  background-color: rgb(0, 27, 34);
  opacity: 0.7;
  height: 100vh;
  width: 100vw;
  z-index: -10;
}



.Work-Summary-Container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  max-width: 400px;
  cursor: pointer;
  /* border: 2px solid transparent; */
  border: 2px solid #fff;
}

.Work-Summary-Box{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top:0;
  left: 0;
  height: 400px;
  width: 400px;
  max-width: 400px;
  cursor: pointer;
}

.Work-Summary-Background {
  position: absolute;
  height: 400px;
  width: 400px;
}

.Work-Summary-Text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  z-index: 6;
  margin: 10px 25px;
}

.LYRCS-Opacity {
  background-color: #2e1f46;
  opacity: 0.2;
}

.Wine-Not-Opacity {
  background-color: #3a78d5;
  opacity: 0.7;
}

.Work-Gif {
  max-width: 400px;
}

/* //////////////////////////////////////  PROJECT TITLE ////////////////////////////////////// */

.Work-Title-Box {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: 2px solid #fff;
}

.Work-Title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* //////////////////////////////////////  PAGE NUMBERS ////////////////////////////////////// */

.Project-Page-Number {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: #fff;
  padding: 0;
  margin: 0;
  cursor: default;
}

.GitHub-Project {
  margin-right: 60px;
  cursor: pointer;
}

.Website-Project {
  margin-left: 60px;
  cursor: pointer;
}

/* //////////////////////////////////////  ICONS ////////////////////////////////////// */

.material-icons {
  font-size: 100px;
  color: #fff;
  cursor: pointer;
}

.logo {
  font-size: 20px;
  color: yellow;
  cursor: pointer;
}

.Forward-Arrow {
  margin-left: 100px;
}

.Back-Arrow {
  margin-right: 100px;
}

/* //////////////////////////////////////  MEDIA QUERIES - 820PX ////////////////////////////////////// */

@media only screen and (max-width: 820px), screen and (max-height: 520px) {

  .Work-Title {
    font-size: 2rem;
  }

  .Work-Title-Box {
    width: 300px;
    height: 300px;
  }

  .Work-Summary-Container {
    height: 300px;
    width: 300px;
    max-width: 300px;
  }

  .Work-Summary-Box{
    height: 300px;
    width: 300px;
    max-width: 300px;
  }

  .Work-Summary-Background {
    height: 300px;
    width: 300px;
  }

  .Work-Summary-Text {
    font-size: 1.2rem;
  }

  .Work-Gif {
    max-width: 300px;
  }

  .material-icons {
    font-size: 80px;
  }

  .Forward-Arrow {
    margin-left: 50px;
  }

  .Back-Arrow {
    margin-right: 50px;
  }

  .GitHub-Project {
    margin-right: 40px;
  }

  .Website-Project {
    margin-left: 40px;
  }
}

/* //////////////////////////////////////  MEDIA QUERIES - 580PX ////////////////////////////////////// */

@media only screen and (max-width: 580px), screen and (max-height: 450px) {

  .Work-Title {
    font-size: 1.5rem;
  }

  .Work-Title-Box {
    width: 200px;
    height: 200px;
  }

  .Work-Summary-Container {
    height: 200px;
    width: 200px;
    max-width: 200px;
  }

  .Work-Summary-Box{
    height: 200px;
    width: 200px;
    max-width: 200px;
  }

  .Work-Summary-Background {
    height: 200px;
    width: 200px;
  }

  .Work-Summary-Text {
    font-size: 0.8rem;
  }

  .Work-Gif {
    max-width: 200px;
  }

  .material-icons {
    font-size: 50px;
  }

  .Forward-Arrow {
    margin-left: 50px;
  }

  .Back-Arrow {
    margin-right: 50px;
  }

  .Project-Page-Number {
    font-size: 1.6rem;
  }

  .GitHub-Project {
    margin-right: 30px;
  }

  .Website-Project {
    margin-left: 30px;
  }
}

/* //////////////////////////////////////  MEDIA QUERIES - 400PX ////////////////////////////////////// */

@media only screen and (max-width: 400px), screen and (max-height: 325px) {

  .Work-Title {
    font-size: 1.2rem;
  }

  .Work-Title-Box {
    width: 150px;
    height: 150px;
  }

  .Work-Summary-Container {
    height: 150px;
    width: 150px;
    max-width: 150px;
  }

  .Work-Summary-Box{
    height: 150px;
    width: 150px;
    max-width: 150px;
  }

  .Work-Summary-Background {
    height: 150px;
    width: 150px;
  }

  .Work-Summary-Text {
    font-size: 0.6rem;
  }

  .Work-Gif {
    max-width: 150px;
  }

  .material-icons {
    font-size: 30px;
  }

  .Forward-Arrow {
    margin-left: 20px;
  }

  .Back-Arrow {
    margin-right: 20px;
  }

  .Project-Page-Number {
    font-size: 1rem;
  }

  .Navbar-Logo-Box {
    margin-right: 10px;
  }

  .Navbar-Name-Box {
    margin-left: 10px;
  }

  .GitHub-Project {
    margin-right: 20px;
  }

  .Website-Project {
    margin-left: 20px;
  }
}

